@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-image: url("https://i1.faceprep.in/bmi-background.png");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

img {
margin-top: 5vh;
width: 20%;
}

#text {
    margin: 3vh 32vw;
}

#height, #weight, #age {
    margin: 0 0 3vh 0;
    width: 300px;
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}


#submit {
    border: none;
    background-color: #5F27CD;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 600;
}


h1 {
    margin: 60px 0 0 0;
}

a {
    font-size: 14px;
}
