@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-image: url("https://i1.faceprep.in/bmi-background.png");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

img {
margin: 30px;
width: 15%;
}

#text {
    margin: 0 500px 40px 500px;
}

#height, #weight, #age {
    margin: 0 0 5px 0;
    width: 300px;
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}


#submit {
    border: none;
    background-color: #5F27CD;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 600;
}


h1 {
    margin: 30px;
}

p{
    margin: 20px;
}

a {
    margin-top:100px;
}
